
<footer>
        <h1 style="font-size:30px;">
        Siguenos en:
        <div class="container">
            <p>
<li><a href="https://en.wikipedia.org/wiki/Facebook"><img src="assets/facebook.png" width="100" height="100"></a></li>

<li><a href="https://www.instagram.com/"><img src="assets/instagram.png" width="100" height="100"></a></li>

<li><a href="https://www.youtube.com/"><img src="assets/youtube.png" width="100" height="100"></a></li>
<br>
Sandra @
2022
</p>            
       </div>
        </h1>   
</footer>

